# ignore the following folders (all are in the sketchbook by default and not created by user)
examples
libraries
modes
templates
tools

# ignore folders created by other users
fancyFlutes
pointSquare
grid
